In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('petrol_consumption.csv')

In [3]:
data.shape

(48, 5)

In [4]:
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [5]:
X=data.drop('Petrol_Consumption',axis=1)

In [7]:
y=data['Petrol_Consumption']

In [26]:
X

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.00            3571            1976                         0.525
1         9.00            4092            1250                         0.572
2         9.00            3865            1586                         0.580
3         7.50            4870            2351                         0.529
4         8.00            4399             431                         0.544
5        10.00            5342            1333                         0.571
6         8.00            5319           11868                         0.451
7         8.00            5126            2138                         0.553
8         8.00            4447            8577                         0.529
9         7.00            4512            8507                         0.552
10        8.00            4391            5939                         0.530
11        7.50            5126           14186                         0.525
12        7.00            4817            6930                         0.574
13        7.00            4207            6580                         0.545
14        7.00            4332            8159                         0.608
15        7.00            4318           10340                         0.586
16        7.00            4206            8508                         0.572
17        7.00            3718            4725                         0.540
18        7.00            4716            5915                         0.724
19        8.50            4341            6010                         0.677
20        7.00            4593            7834                         0.663
21        8.00            4983             602                         0.602
22        9.00            4897            2449                         0.511
23        9.00            4258            4686                         0.517
24        8.50            4574            2619                         0.551
25        9.00            3721            4746                         0.544
26        8.00            3448            5399                         0.548
27        7.50            3846            9061                         0.579
28        8.00            4188            5975                         0.563
29        9.00            3601            4650                         0.493
30        7.00            3640            6905                         0.518
31        7.00            3333            6594                         0.513
32        8.00            3063            6524                         0.578
33        7.50            3357            4121                         0.547
34        8.00            3528            3495                         0.487
35        6.58            3802            7834                         0.629
36        5.00            4045           17782                         0.566
37        7.00            3897            6385                         0.586
38        8.50            3635            3274                         0.663
39        7.00            4345            3905                         0.672
40        7.00            4449            4639                         0.626
41        7.00            3656            3985                         0.563
42        7.00            4300            3635                         0.603
43        7.00            3745            2611                         0.508
44        6.00            5215            2302                         0.672
45        9.00            4476            3942                         0.571
46        7.00            4296            4083                         0.623
47        7.00            5002            9794                         0.593

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [12]:
len(X_train)

38

In [13]:
len(X_test)

10

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
regressor=RandomForestRegressor(n_estimators=100,random_state=0)

In [16]:
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [17]:
y_pred=regressor.predict(X_test)

In [18]:
y_pred

array([566.25, 501.23, 597.8 , 586.81, 608.28, 607.6 , 589.47, 570.82,
       464.06, 508.15])

In [19]:
result=pd.DataFrame({'Actual': y_test,'Predicted':y_pred})

In [20]:
result

    Actual  Predicted
29     534     566.25
4      410     501.23
26     577     597.80
30     571     586.81
32     577     608.28
37     704     607.60
34     487     589.47
40     587     570.82
7      467     464.06
10     580     508.15

In [22]:
#from sklearn.metrics import mean_absolute_error

In [23]:
#mean_absolute_error(y_test,y_pred)

In [24]:
import numpy as np
acc=100-np.mean(np.abs(y_test-y_pred)/np.abs(y_test))*100

In [25]:
acc

90.94065121400041